* {
  /* margin: 0px;
  padding: 0px; */
  box-sizing: border-box;
  position: relative;
}

h1 {
  font-weight: normal;
}

#root {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 1em;
  width: 90%;
  margin: 5% auto;
}

#root > *:not(h1) {
  border: 1px dotted lightgray;
  padding: 1em;
  overflow: hidden;
}
#root > h1, #root > header {
  grid-column: 1 / 3;
}

#filters {
  background-color: rgb(212, 235, 250);
}

#filters form > label {
  display: block;
  margin-bottom: 10px;
}
#filters form select {
  width: 100%;
}
#filters .selected {
  background-color: lightgray;
  padding: 4px;
  padding-bottom: 2px;
}

#filters label {
  font-size: 14px;
}

#filters label button {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-right: 2px;
  margin-bottom: 4px;
  padding: 2px;
  padding-left: 22px;
  background-color: rgb(212, 235, 250);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  gap: 4px;
}
#filters label button:hover {
  background-color: white;
}
#filters label button svg {
  position: absolute;
  top: calc(50% - 8px);
  left: 2px;
  margin: auto;
  width: 16px;
  height: 16px;
  line-height: 100%;
  border-radius: 2px;
  background-color: white;
}

#filters select {
  display: block;
}